@font-face {
  font-family: 'Regular';
  src: url('GPN_DIN-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bold';
  src: url('GPN_DIN-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Helli';
  src: url('HeliosExtBlackC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


