@font-face {
  font-family: 'Regular';
  src: url('IBMPlexSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bold';
  src: url('IBMPlexSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Medium';
  src: url('IBMPlexSans-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


