@font-face {
  font-family: 'Regular';
  src: url('DINPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bold';
  src: url('DINPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Italic';
  src: url('DINPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Light';
  src: url('DINPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
