@font-face {
  font-family: 'Regular';
  src: url('Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Medium';
  src: url('Inter-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bold';
  src: url('Inter-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
